entryPoints:
  https:
    address: :443
    http:
      middlewares:
        - gzip
      tls:
        certResolver: le
  http:
    address: :80
    http:
      redirections:
        entryPoint:
          to: https
          scheme: https
          permanent: true
  ssh:
    address: :22
certificatesResolvers:
  le:
    acme:
      email: admin@{{ root_dns }}
      storage: /certificates/acme.json
      tlsChallenge: {}
  
providers:
  docker:
    defaultRule: Host(`{% raw %}{{ index .Labels "com.docker.stack.namespace" }}{% endraw %}.{{ traefik_domain }}`)
    exposedByDefault: false
    swarmMode: true
    network: traefik_public
api: {}
accessLog: {}
metrics:
  prometheus: {}
